/* ==========================================================================
    FONTS
========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Cuprum:400,700);

/* ==========================================================================
    LESS
========================================================================== */

@white: #fff;
@black: #000;
@green: #0ca26b;
@gray: #383838;
@lemon: #ffffd7;

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.gradient (@startColor, @endColor) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow:    @string;
    box-shadow:         @string;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing:    @type;
    box-sizing:         @type;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity:    @opacity;
    -moz-opacity:       @opacity;
    opacity:        @opacity;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition:    @transition;
    -ms-transition:     @transition;
    -o-transition:      @transition;
    transition:         @transition;
}

.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
       transform:        @string;
}

.transform-origin (@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
       transform-origin:      @x @y;
}

.inline-block {
    display: inline-block;
    *display: block;
    zoom: 1; /* IE < 8 */
}

.flat-shadowed-right(@width:200px, @height:200px, @color:#007bff) {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: @height @width 0 0;
    border-color: @color transparent transparent transparent;
}

/* ==========================================================================
    GENERAL STYLES
========================================================================== */

html,
body {
    height: 100%;
    font-family: 'Cuprum', sans-serif;
}

body {
    border-top: 3px solid #383838;
}

ul,
p {
    margin: 0;
    padding: 0;
}

input,
textarea,
input:active,
textarea:active,
:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    zoom: 1; /* IE < 8 */
}

.clearfix:after {
    clear: both;
}

.list-inline {
    li {
        .inline-block;
    }
}

.container {
    width: 940px;
    margin: 0 auto;
}

.icon {
    .inline-block;
    vertical-align: top;
    background-image: url(../img/sprite-icons.png);
    background-repeat: no-repeat;
}

.icon-phone-black {
    width: 10px;
    height: 18px;
    margin-right: 8px;
    background-position: 0 0;
}

.i-twitter-black {
    width: 19px;
    height: 18px;
    background-position: -14px 0;
}

.i-facebook-black {
    width: 19px;
    height: 18px;
    background-position: -36px 0;
}

.i-skype-black {
    width: 19px;
    height: 18px;
    background-position: -59px 0;
}

/* ==========================================================================
    HEADER
========================================================================== */

.header {
    position: relative;
    border-top: 2px solid @green;
    background-color: @white;
    color: @gray;
}

.contacts-top {
    height: 40px;
    padding-top: 25px;

    span,
    div {
        .inline-block;
    }
}

.icons-social {
    margin-left: 24px;

    a {
        margin-left: 8px;
    }
}

.languages {
    .inline-block;
    margin: -25px 0 0 20px;
    a {
        .inline-block;
        width: 30px;
        height: 54px;
        padding: 25px 0 0 5px;
        color: @gray;
    }

    .is-active {
        background: url(../img/ribbon-down.png) no-repeat;
        color: @white;
    }
}

.bg-logo-main {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -119px;
    display: block;
    width: 238px;
    height: 100px;
    background: url(../img/bg-logo-main.png) no-repeat;
    text-align: center;
}

.logo-main {
    .inline-block;
    width: 180px;
    height: 64px;
    margin-top: 10px;
    background: url(../img/logo-main.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Navigation
========================================================================== */

.nav-main-top {
    height: 45px;
    background: url(../img/nav-header.jpg);

    ul {
        li {
            float: left;
        }

        a {
            .inline-block;
            height: 41px;
            line-height: 40px;
            color: @gray;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }

        a.is-active,
        a:hover {
            border-bottom: 3px solid @green;
        }

        .separated:before {
            float: left;
            display: block;
            content: "";
            width: 1px;
            height: 28px;
            margin-top: 6px;
            background-color: #afafaf;
        }
    }

    .nav-top-left {
        float: left;

        a {
            padding: 0 26px;
        }
    }

    .nav-top-right {
        float: right;
        text-align: right;

        a {
            padding: 0 14px;
        }
    }
}

/* ==========================================================================
    MAIN
========================================================================== */

.block-slider {
    padding: 35px 0;
    background-color: @lemon;
    text-align: center;
}
